<h1 class="center">Our Todo List</h1>
<div class="container-fluid col-12">
  <div class="bg-light col-6 mb-5">
    <form (submit)="addToDo()">
      <div class="form-group">
        <label>ToDo Task</label>
        <input class="form-control" name="task" type="text" value="" [(ngModel)]="TaskToDo" />
      </div>
      <div class="form-group">
        <label>To Who</label>
        <input class="form-control" name="owner" type="text" value="" [(ngModel)]="OwnerToDo" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Add Task</button>
      </div>

    </form>
  </div>

  <table class="table table-striped table-bordered shadow-sm col-6">
    <thead>
      <td>id</td>
      <td>Task</td>
      <td>Owner</td>
      <td>Action</td>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos; let i=index">
        <td>{{i+1}}</td>
        <td >{{todo.Task}}</td>
        <td>{{todo.Owner}}</td>
        <td>
          <button class="btn btn-outline-success mr-2" (click)="removeToDo('todo', i)">X</button>
          <button class="btn btn-outline-warning" (click)="pendingToDo(i)">>></button>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-bordered shadow-sm col-6">
    <thead>
      <td>id</td>
      <td> Pending Task</td>
      <td>Owner</td>
      <td>Action</td>
    </thead>
    <tbody>
      <tr *ngFor="let pendingtodo of pendingTodos; let i=index">
        <td>{{i+1}}</td>
        <td >{{pendingtodo.Task}}</td>
        <td>{{pendingtodo.Owner}}</td>
        <td>
          <button class="btn btn-outline-success" (click)="removeToDo('pendingtodo', i)">X</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
